.anentFartoClose{
	-webkit-animation:anentFartoClose 0.8s 0s ease both;
	-moz-animation:anentFartoClose 0.8s 0s ease both;
	-ms-animation:anentFartoClose 0.8s 0s ease both;
	-o-animation:anentFartoClose 0.8s 0s ease both;
	animation:anentFartoClose 0.8s 0s ease both;
}
@keyframes anentFartoClose {
	0% {
	opacity:0;
	transform:scale(0.1) translate3d(0,-1000px,0);
	-webkit-animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
	animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
}
70% {
	opacity:1;
	transform:scale(0.6) translate3d(0,60px,0);
	-webkit-animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
	animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
}
100% {
	opacity:1;
}
}
.anentBigger{
	-webkit-animation:anentBigger 0.8s 0s ease both;
	-moz-animation:anentBigger 0.8s 0s ease both;
	-ms-animation:anentBigger 0.8s 0s ease both;
	-o-animation:anentBigger 0.8s 0s ease both;
	animation:anentBigger 0.8s 0s ease both;
}
@keyframes anentBigger {
	0% {
	opacity:0;
	transform:scale(0.2);
}
100% {
	opacity:1;
	transform:scale(1);
}

}.anentTopdrop{
	-webkit-animation:anentTopdrop 0.8s 0s ease both;
	-moz-animation:anentTopdrop 0.8s 0s ease both;
	-ms-animation:anentTopdrop 0.8s 0s ease both;
	-o-animation:anentTopdrop 0.8s 0s ease both;
	animation:anentTopdrop 0.8s 0s ease both;
}@keyframes anentTopdrop {
	0% {
	opacity:0;
	transform:translate3d(0,-1000px,0);
}
40% {
	transform:translate3d(0,0px,0) rotate(65deg);
}
60% {
	transform:rotate(-45deg);
}
80% {
	transform:rotate(15deg);
}
100% {
	opacity:1;
}
}
.anentLeftBig{
	-webkit-animation:anentLeftBig 0.8s 0s ease both;
	-moz-animation:anentLeftBig 0.8s 0s ease both;
	-ms-animation:anentLeftBig 0.8s 0s ease both;
	-o-animation:anentLeftBig 0.8s 0s ease both;
	animation:anentLeftBig 0.8s 0s ease both;
}
@keyframes anentLeftBig {
	0% {
	opacity:0;
	transform:scale(0.1) translate3d(-100px,0,0);
	-webkit-animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
	animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
}
70% {
	opacity:1;
	transform:scale(0.6) translate3d(60px,0,0);
	-webkit-animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
	animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
}
100% {
	opacity:1;
}

}
.anentRightPush{
	-webkit-animation:anentRightPush 0.8s 0s ease both;
	-moz-animation:anentRightPush 0.8s 0s ease both;
	-ms-animation:anentRightPush 0.8s 0s ease both;
	-o-animation:anentRightPush 0.8s 0s ease both;
	animation:anentRightPush 0.8s 0s ease both;
}
@keyframes anentRightPush {
	0% {
	opacity:0;
	transform:translate3d(100px,0,0) skewX(20deg);
}
60% {
	opacity:1;
	transform:translate3d(0px,0,0) skewX(20deg);
}
80% {
	transform:skewX(-5deg);
}
100% {
	opacity:1;
}

}.anShinning{
	-webkit-animation:anShinning 0.8s 0s ease both;
	-moz-animation:anShinning 0.8s 0s ease both;
	-ms-animation:anShinning 0.8s 0s ease both;
	-o-animation:anShinning 0.8s 0s ease both;
	animation:anShinning 0.8s 0s ease both;
}
/*anShinning should be used for img*/
@keyframes anShinning {
	0% {
	-webkit-filter:brightness(0.7);
	-moz-filter:brightness(0.7);
	-ms-filter:brightness(0.7);
	-o-filter:brightness(0.7);
	filter:brightness(0.7);
}
50% {
	-webkit-filter:brightness(1.2);
	-moz-filter:brightness(1.2);
	-ms-filter:brightness(1.2);
	-o-filter:brightness(1.2);
	filter:brightness(1.2);
}
100% {
	-webkit-filter:brightness(0.7);
	-moz-filter:brightness(0.7);
	-ms-filter:brightness(0.7);
	-o-filter:brightness(0.7);
	filter:brightness(0.7);
}

}.anentDownFly{
	-webkit-animation:anentDownFly 0.8s 0s ease both;
	-moz-animation:anentDownFly 0.8s 0s ease both;
	-ms-animation:anentDownFly 0.8s 0s ease both;
	-o-animation:anentDownFly 0.8s 0s ease both;
	animation:anentDownFly 0.8s 0s ease both;
}
@keyframes anentDownFly {
	0% {
	opacity:0;
	transform:translate3d(0,100px,0);
}
100% {
	opacity:1;
	transform:translate3d(0,0px,0);
}

}.anentUpFly{
	-webkit-animation:anentUpFly 0.8s 0s ease both;
	-moz-animation:anentUpFly 0.8s 0s ease both;
	-ms-animation:anentUpFly 0.8s 0s ease both;
	-o-animation:anentUpFly 0.8s 0s ease both;
	animation:anentUpFly 0.8s 0s ease both;
}
@keyframes anentUpFly {
	0% {
	opacity:0;
	transform:translate3d(0,-100px,0);
}
100% {
	opacity:1;
	transform:translate3d(0,0px,0);
}

}.anentLeftFly{
	-webkit-animation:anentLeftFly 0.8s 0s ease both;
	-moz-animation:anentLeftFly 0.8s 0s ease both;
	-ms-animation:anentLeftFly 0.8s 0s ease both;
	-o-animation:anentLeftFly 0.8s 0s ease both;
	animation:anentLeftFly 0.8s 0s ease both;
}
@keyframes anentLeftFly {
	0% {
	opacity:0;
	transform:translate3d(-100px,0,0);
}
100% {
	opacity:1;
	transform:translate3d(0px,0,0);
}

}.anentDownWalk{
	-webkit-animation:anentDownWalk 0.8s 0s ease both;
	-moz-animation:anentDownWalk 0.8s 0s ease both;
	-ms-animation:anentDownWalk 0.8s 0s ease both;
	-o-animation:anentDownWalk 0.8s 0s ease both;
	animation:anentDownWalk 0.8s 0s ease both;
}
@keyframes anentDownWalk {
	0% {
	opacity:0;
	transform:translate3d(0,10px,0);
}
100% {
	opacity:1;
	transform:translate3d(0,0px,0);
}

}.anentPointBig{
	-webkit-animation:anentPointBig 0.8s 0s ease both;
	-moz-animation:anentPointBig 0.8s 0s ease both;
	-ms-animation:anentPointBig 0.8s 0s ease both;
	-o-animation:anentPointBig 0.8s 0s ease both;
	animation:anentPointBig 0.8s 0s ease both;
}
@keyframes anentPointBig {
	0%,20%,40%,60%,80%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
}
0% {
	opacity:0;
	transform:scale(0.3);
}
20% {
	transform:scale(1.1);
}
40% {
	transform:scale(0.9);
}
60% {
	opacity:1;
	transform:scale(1.03);
}
80% {
	transform:scale(0.97);
}
100% {
	opacity:1;
	transform:scale(1);
}

}.anentLeftRo{
	-webkit-animation:anentLeftRo 0.8s 0s ease both;
	-moz-animation:anentLeftRo 0.8s 0s ease both;
	-ms-animation:anentLeftRo 0.8s 0s ease both;
	-o-animation:anentLeftRo 0.8s 0s ease both;
	animation:anentLeftRo 0.8s 0s ease both;
}
@keyframes anentLeftRo {
	0% {
	opacity:0;
	transform:translate3d(-100px,0,0) rotate(-180deg);
}
100% {
	opacity:1;
	transform:translate3d(0px,0,0) rotate(0deg);
}

}.anentStorm{
	-webkit-animation:anentStorm 0.8s 0s ease both;
	-moz-animation:anentStorm 0.8s 0s ease both;
	-ms-animation:anentStorm 0.8s 0s ease both;
	-o-animation:anentStorm 0.8s 0s ease both;
	animation:anentStorm 0.8s 0s ease both;
}
@keyframes anentStorm {
	0% {
	opacity:0;
	transform-origin:center;
	transform:scale(1.7) rotate(-720deg);
}
100% {
	opacity:1;
	transform-origin:center;
	transform:scale(1) rotate(0deg);
}

}.anentMoveTidy{
	-webkit-animation:anentMoveTidy 0.8s 0s ease both;
	-moz-animation:anentMoveTidy 0.8s 0s ease both;
	-ms-animation:anentMoveTidy 0.8s 0s ease both;
	-o-animation:anentMoveTidy 0.8s 0s ease both;
	animation:anentMoveTidy 0.8s 0s ease both;
}
@keyframes anentMoveTidy {
	0%,100% {
	transform:translate3d(0px,0,0);
}
0% {
	opacity:0;
}
1% {
	opacity:1;
}
10%,30%,50%,70%,90% {
	transform:translate3d(-10px,0,0);
}
20%,40%,60%,80% {
	transform:translate3d(10px,0,0);
}

}.anentAutumn{
	-webkit-animation:anentAutumn 0.8s 0s ease both;
	-moz-animation:anentAutumn 0.8s 0s ease both;
	-ms-animation:anentAutumn 0.8s 0s ease both;
	-o-animation:anentAutumn 0.8s 0s ease both;
	animation:anentAutumn 0.8s 0s ease both;
}@keyframes anentAutumn {
	0% {
	opacity:0;
	transform:translate3d(0,-100px,0) rotate(-60deg);
}
100% {
	opacity:1;
	transform:translate3d(0,0px,0) rotate(360deg);
}

}.anentRightFly{
	-webkit-animation:anentRightFly 0.8s 0s ease both;
	-moz-animation:anentRightFly 0.8s 0s ease both;
	-ms-animation:anentRightFly 0.8s 0s ease both;
	-o-animation:anentRightFly 0.8s 0s ease both;
	animation:anentRightFly 0.8s 0s ease both;
}@keyframes anentRightFly {
	0% {
	opacity:0;
	transform:translate3d(100px,0,0);
}
100% {
	opacity:1;
	transform:translate3d(0px,0,0);
}

}.anentRightFlash{
	-webkit-animation:anentRightFlash 0.8s 0s ease both;
	-moz-animation:anentRightFlash 0.8s 0s ease both;
	-ms-animation:anentRightFlash 0.8s 0s ease both;
	-o-animation:anentRightFlash 0.8s 0s ease both;
	animation:anentRightFlash 0.8s 0s ease both;
}@keyframes anentRightFlash {
	0% {
	opacity:0;
	transform:scale(0.1) translate3d(1000px,0,0);
	-webkit-animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
	animation-timing-function:cubic-bezier(0.550,0.055,0.675,0.190);
}
70% {
	opacity:1;
	transform:scale(0.6) translate3d(60px,0,0);
	-webkit-animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
	animation-timing-function:cubic-bezier(0.175,0.885,0.320,1);
}
100% {
	opacity:1;
}

}.anentRotate{
	-webkit-animation:anentRotate 0.8s 0s ease both;
	-moz-animation:anentRotate 0.8s 0s ease both;
	-ms-animation:anentRotate 0.8s 0s ease both;
	-o-animation:anentRotate 0.8s 0s ease both;
	animation:anentRotate 0.8s 0s ease both;
}@keyframes anentRotate {
	0% {
	transform:rotate(0deg);
}
100% {
	transform:rotate(360deg);
}

}.anentRightRo{
	-webkit-animation:anentRightRo 0.8s 0s ease both;
	-moz-animation:anentRightRo 0.8s 0s ease both;
	-ms-animation:anentRightRo 0.8s 0s ease both;
	-o-animation:anentRightRo 0.8s 0s ease both;
	animation:anentRightRo 0.8s 0s ease both;
}@keyframes anentRightRo {
	0% {
	opacity:0;
	transform:translate3d(100px,0,0) rotate(-180deg);
}
100% {
	opacity:1;
	transform:translate3d(0px,0,0) rotate(0deg);
}

}.anentLeftPush{
	-webkit-animation:anentLeftPush 0.8s 0s ease both;
	-moz-animation:anentLeftPush 0.8s 0s ease both;
	-ms-animation:anentLeftPush 0.8s 0s ease both;
	-o-animation:anentLeftPush 0.8s 0s ease both;
	animation:anentLeftPush 0.8s 0s ease both;
}@keyframes anentLeftPush {
	0% {
	opacity:0;
	transform:translate3d(-100px,0,0) skewX(20deg);
}
60% {
	opacity:1;
	transform:translate3d(0px,0,0) skewX(20deg);
}
80% {
	transform:skewX(-5deg);
}
100% {
	opacity:1;
}


}.anentSling{
	-webkit-animation:anentSling 0.8s 0s ease both;
	-moz-animation:anentSling 0.8s 0s ease both;
	-ms-animation:anentSling 0.8s 0s ease both;
	-o-animation:anentSling 0.8s 0s ease both;
	animation:anentSling 0.8s 0s ease both;
}@keyframes anentSling {
	0% {
	opacity:0;
}
1% {
	opacity:1;
}
0% {
	-webkit-perspective:600;
	perspective:600;
	transform-style:preserve-3d;
	transform:rotateX(-55deg);
}
60% {
	-webkit-perspective:600;
	perspective:600;
	transform:rotateX(15deg);
}
80% {
	-webkit-perspective:600;
	perspective:600;
	transform:rotateX(-10deg);
}
90% {
	-webkit-perspective:600;
	perspective:600;
	transform:rotateX(5deg);
}
100% {
	-webkit-perspective:600;
	perspective:600;
	transform-style:preserve-3d;
	transform:rotateX(0deg);
}
}